header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/* Estilo para el submenú */
nav ul li.dropdown {
    position: relative;
    display: inline-block;
}

nav ul li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f3f3f3;
    color: black;
    padding: 0;
    min-width: 250px;
    z-index: 1;
}

nav ul li .submenu li {
    display: block;
    margin: 0;
    padding: 10px;
}

nav ul li .submenu li a {
    color: white;
    text-decoration: none;
    display: block;
}

nav ul li.dropdown:hover .submenu {
    display: block;

}
/*Fin del submenu*/


/*Inicios nav*/
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px;


}
nav ul li:hover{
    background-color: #FFA500;
    
}

nav a {
    color: white;
    text-decoration: none;
}